@import url('https://fonts.googleapis.com/css2?family=Alike&family=Open+Sans:wght@500&display=swap');

body{
    font-family: 'Alike', serif;
    font-family: 'Open Sans', sans-serif;
    
}
.container{
    width: 100%;
    overflow: hidden;
    margin: 50px 60px;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.navbar h3{
    font-size: 24px;
    color: #3A3A3A;
    margin-left: 54px;
}
nav{
    text-align: right;
    margin-left: 350px;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #3A3A3A;
    align-items: center;
    margin-right: 25px;
}
hr{
    margin-left: 90px;
    margin-right: 120px;
}
.logos{
    padding: 30px;
    display: flex;
    column-gap: 50px;
    margin-left: 90px;
}
.img-one{
    right: 0;
    position: absolute;
    z-index: 1;
    transition: 2s ease-in-out;
    transition-delay: 0.1s;
}
.img-one:hover{
    transform: scale(1.5) rotate(360deg);
}
.img-two{
    right: 0;
    position: absolute;
}
.blog-and-image{
    display: flex;
    /* margin: 50px; */
    margin-right: 180px;
}
.blog-title{
    margin-top: 30px;
    margin-right: 200px;
    padding-right: 40px;
    margin-left: 52px;
}
.blog-title h1{
    font-size: 42px;
    font-weight: bold;
    color: #3A3A3A;
}
.blog-title p{
    padding-bottom: 16px;
}
.btn-link{
    background-color: #E02C6D;
    color: white;
    border-radius: 41px;
    padding: 10px 24px;
    text-decoration: none;
}
.fas{
    margin-left: 8px;
}
.blog-img{
    margin-right: 77px;
    width: 400px;
    height: 374px;
}
.container h2{
    text-align : center;
}
.products{
    width: 329px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-left: 45px;
}
.product{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px;
}
.product-image{
    width: 300px;
    height: 256px;
}
.product-title{
    color: #18191F;
    font-size: 28px;
    padding: 0 auto;
}
.product-price{
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
}
.product-info{
    width: 122px;
    height: 32px;
    display: flex;
    align-items: center;
}
.filled-star{
    color: orange;
}
.half-filled{
    color: orange;
}
span{
    margin-left: 10px;
}
.product-text{
    color: #787885;
    font-size: 14px;
}
.btn-seemore{
    color: #E02C6D;
    text-decoration: none;
    margin-left: 1030px;
}
.contact-form{
    width: 500px;
    background-color: #b892f7;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    transition: translate(-50%, -50%);
    margin: 30px 340px;
}
form{
    margin: 20px;
}
.input-field{
    width: 400px;
    height: 40px;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
.textarea-field{
    height: 150px;
    padding-top: 10px;
}
.btn{
    border-radius: 20px;
    color: white;
    margin-top: 18px;
    padding: 10px 20px;
    background-color: #E02C6D;
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}
footer{
    width: 100%;
    background-color: #0A0826;
    color: white;
    text-align: center;
    padding: 20px;
}
footer h3{
    font-size: 24px;
}
footer p{
    font-size: 14px;
}
footer a{
    margin: 16px;
    width: 32px;
    height: 32px;
    color: white;
}

/* responsive for mobile  */
@media (max-width: 480px) {
    .container{
        width: 100%;
        margin-left: 0;
    }
    .container h2{
        margin-left: 8px;
    }
    .blog-and-image{
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
    }
    .blog-title{
        text-align: center;
        margin-right: 40px;
    }
    .blog-image{
        text-align: left;
        padding-top: 50%;
    }
    .logos{
        display: inline;
        flex-direction: column;
        width: 24px;
        margin: 30px 5px;

    }
    hr{
        margin-left:20px;
        margin-right: 30px;
    }
    .products{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 30px;
    }
    .btn-seemore{
        margin-left: 300px;
    }
    .contact-form{
        width: 320px;
        background-color: #b892f7;
        margin: 30px 50px;
    }
    .input-field{
        width: 250px;
        padding-left: 10px;
    }
}

/* responsive for tablet  */
@media (min-width: 481px) and (max-width: 767px) {
    .container{
        width: 100%;
        margin-left: 50px;
    }
    .container h2{
        margin-left: 11px;
    }
    .blog-and-image{
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }
    .blog-image{
        margin-top: 50px;
    }
    .logos{
        display: inline;
        flex-direction: column;
        width: 24px;
        margin: 30px 20px;

    }
    hr{
        margin-left:5px;
        margin-right: 60px;
    }
    .products{
        grid-template-columns: repeat(2, 1fr);
        margin-left: -40px;
    }
    .btn-seemore{
        margin-left: 584px;
    }
    .contact-form{
        width: 400px;
        background-color: #b892f7;
        margin: 30px auto;
    }
    .input-field{
        width: 300px;
        padding-left: 10px;
    }
}

/* responsive for pc  */
@media (min-width: 1025px) and (max-width: 1280px){
    .container{
        width: 100%
    }
    .products{
        grid-template-columns: repeat(3, 1fr);
    }
}